.container {
  display: flex;
  height: 100%;
}

@media only screen and (max-width: 400px) {
  .container {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    justify-content: space-between;
  }
}

.sidebar {
  width: 88px;
  background-color: var(--main-nav-color);
  position: fixed;
  height: 100%;
}

.topNavSmallScreen {
  display: none;
}

@media only screen and (max-width: 400px) {
  .sidebar {
    display: none;
  }
  .topNavSmallScreen {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: var(--main-nav-color);
    padding: 0 1em;
    position: sticky;
    top: 0;
  }
  .topNavLeft {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 130px;
  }
}

.sidebarTop {
  position: absolute;
  top: 1rem;
  width: 100%;
}

.sidebarNav {
  list-style-type: none;
  margin: 0.2em;
  padding: 0;
}

.sidebarNav > li.sidebarNavSelected {
  background: #6552ff;
}

.sidebarNav > li {
  width: 80px;
  height: 80px;
  border: 2px;
  background: #292535ff;
  margin: 0.5em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}
.sidebarNav > li > a {
  text-align: center;
}
.sidebarNav > li > a > p {
  color: #ffffffc7;
}

.sidebarNav > li > a > svg {
  fill: #929098;
}

.sidebarBottom {
  position: absolute;
  bottom: 10rem;
  width: 100%;
}

.avatar {
  border-radius: 50%;
  height: 64px;
  width: 64px;
  border: 2px solid white;
}

.avatar button[type="button"] {
  width: 100%;
  height: 100%;
}

.avatarImage {
  border-radius: 50%;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.avatarWrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.avatarMenuWrapper {
  border-right: 1px solid var(--border-color);
}

.avatarMenu {
  list-style-type: none;
  margin: 1em;
  padding: 0;
}

.popOver {
  border-radius: 0.3em;
  position: absolute;
}

div.avatarPopoverShow {
  visibility: visible;
}
.avatarPopover {
  composes: popOver;
  visibility: hidden;
  /* height: 239px; */
  width: 368px; 
  position: fixed;
  bottom: 40px;
  left: 275px;

  transform: translate(-50%, -50%);
  background: white;
  box-shadow: 0px 0px 2px 0px rgb(0 0 0 / 30%);
  border: 1px solid #dee1e6;
}

@media only screen and (max-width: 400px) {
  .avatarPopover {
    top: 195px;
    left: 50%;
    width: 95%;
    bottom: unset;
  }
}

.leftBottom {
  composes: popOver;
  width: 50px;
  height: 25px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-75%, -90%) rotate(90deg);
  overflow: hidden;
}

@media only screen and (max-width: 400px) {
  .leftBottom {
    top: 0;
    right: 9%;
    bottom: unset;
    left: unset;
    transform: translate(-75%, -100%) rotate(180deg);
  }
}

.leftBottom::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: white;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  top: 0;
  left: 50%;
  box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 30%);
  border-radius: 0 0 0.3em 0;
}

.card {
}

.cardHeader {
  border-bottom: 2px solid var(--border-color);
}

.cardHeader .cardUserInfo {
  width: 250px;
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
}

.cardUserName {
  margin-left: 0.5em;
  font-size: large;
}

.cardHeader img {
  width: 48px;
  height: 48px;
  border: 2px double grey;
}

.cardContent < .avatarMenuWrapper {
  display: flex;
}

.avatarMenuItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: large;
  width: 150px;
  padding-bottom: 0.7em;
}

li.avatarMenuItemSelected > button {
  font-weight: 600;
  border-bottom: 3px solid var(--primary-color);
}
.avatarMenuItem > svg {
  width: 12px;
  height: 12px;
  fill: var(--primary-color);
}

button[type="button"].logout {
  color: #2984ff;
  font-size: large;
}

.main {
  flex-grow: 1;
  overflow: auto;
  background: #f5f5f5;
  padding: 1em;
  width: 100%;
  margin-left: 88px;
}

@media only screen and (max-width: 400px) {
  .main {
    width: 100%;
    margin: 0;
  }
}
